{% extends "Layouts/default.html" %}

{% block title %}Novo Usuário{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h4 class="mb-3">Novo Usuário</h4>
        <form class="/admin/users/add" method="post">
            <div class="form-group">
                <label for="name">Nome</label>
                <input class="form-control" type="text" id="name" required="required"
                       placeholder="" name="name">
            </div>

            <div class="form-group">
                <label for="emailaddress">E-mail</label>
                <input class="form-control" type="email" id="emailaddress" required="required"
                       placeholder="" name="email">
            </div>

            <div class="form-group">
                <label for="password">Senha</label>
                <input class="form-control" type="password" required="required" id="password"
                       placeholder="" name="password">
            </div>

            <hr class="mb-4">
            <button class="btn btn-success btn-block" type="submit">Salvar</button>
        </form>
    </div>
</div>

{% endblock %}