{% extends "Layouts/default.html" %}

{% block title %}Clientes{% endblock %}

{% block body %}

<h4 class="mb-3">Clientes</h4>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
        </tr>
        </thead>
        <tbody>
        {% if items %}
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3" align="center">Nenhum cliente encontrado</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}