{% extends "Layouts/default.html" %}

{% block title %}Usuários{% endblock %}

{% block body %}

<h4 class="mb-3">Usuários</h4>

<a href="/admin/users/add" class="btn btn-success btn-sm mb-3">Adicionar</a>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if items %}
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>
                <a href="/admin/users/edit/{{ item.id }}" class="btn btn-primary btn-sm" title="Editar">
                    <i class="fa fa-edit"></i>
                </a>
                {% if item.id != users_id %}
                <a href="/admin/users/delete/{{ item.id }}" class="btn btn-danger btn-sm" title="Excluir">
                    <i class="fa fa-trash"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4" align="center">Nenhum usuário encontrado</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}