{% extends "Layouts/login.html" %}

{% block title %}Login - SAC Wood Wood{% endblock %}

{% block body %}

<div class="mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-header pt-4 pb-4 text-center bg-light">
                        <h3>SAC Wood Wood<br>Administração</h3>
                    </div>

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Acessar</h4>
                            <p class="text-muted mb-4">Insira seu e-mail e senha para gerenciar os chamados.</p>
                        </div>

                        <form action="/admin/users/login" method="post">

                            <div class="form-group">
                                <label for="emailaddress">E-mail</label>
                                <input class="form-control" type="email" id="emailaddress" required="required"
                                       placeholder="" name="email">
                            </div>

                            <div class="form-group">
                                <label for="password">Senha</label>
                                <input class="form-control" type="password" required="required" id="password"
                                       placeholder="" name="password">
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary" type="submit"> Acessar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
