.message {
    margin-bottom: 2rem;
    padding: 10px;
    border-radius: 5px;
}

.admin-message {
    margin-left: 10%;
    background-color: #d5e1fb;
}

.user-message {
    margin-right: 10%;
    background-color: #f6f8fa;
}