{% extends "Layouts/default.html" %}

{% block title %}Novo Chamado{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h4 class="mb-3">Novo Chamado</h4>
        <form class="/help-desks/add" method="post">
            <div class="mb-3">
                <label for="title">Assunto</label>
                <input type="text" class="form-control" id="title" placeholder="" value="" required="required"
                       name="title">
            </div>

            <div class="mb-3">
                <label for="area">Área</label>
                <select name="areas_id" id="area" class="form-control" required="required">
                    <option value="">Selecione...</option>
                    {% for area in areas %}
                        <option value="{{ area.id }}">{{ area.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="message">Mensagem</label>
                <textarea class="form-control" id="message" rows="7" name="description"></textarea>
            </div>
            <hr class="mb-4">
            <button class="btn btn-success btn-block" type="submit">Abrir</button>
        </form>
    </div>
</div>

{% endblock %}