{% extends "Layouts/default.html" %}

{% block title %}Meus Chamados{% endblock %}

{% block body %}

<h4 class="mb-3">Meus Chamados</h4>

<div class="mb-3">
    <a href="/help-desks/add" class="btn btn-success btn-sm">Novo Chamado</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Assunto</th>
            <th>Area</th>
            <th>Aberto em</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if items %}
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.name_area }}</td>
                <td>{{ item.created }}</td>
                <td><span class="badge badge-primary">{{ item.name_status }}</span></td>
                <td>
                    <a href="/help-desks/view/{{ item.id }}" class="btn btn-secondary btn-sm">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" align="center">Nenhum chamado encontrado</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}