{% extends "Layouts/default.html" %}

{% block title %}Detalhes do Chamado{% endblock %}

{% block body %}

<h4 class="mb-3">Detalhes do Chamado</h4>

<div class="bg-light p-3 border-radius">
    <a href="/help-desks" class="btn btn-secondary btn-sm mb-3">Voltar</a>
    <h3>{{ item.title }}</h3>
    <p><span class="badge badge-secondary">{{ item.name_status }}</span></p>
    <p>
        {{ item.description }}
    </p>

    <div class="row">
        <div class="col-md-4">
            <div class="mb-4">
                <h5>Area</h5>
                <p>{{ item.name_area }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-4">
                <h5>Data da abertura</h5>
                <p>{{ item.created }}</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="mt-0 mb-3">Deixe sua mensagem</h4>

            <form action="/help-desks/add-message/{{ item.id }}" method="post">
            <textarea class="form-control form-control-light mb-2" placeholder="Sua mensagem" id="example-textarea"
                      rows="3" name="message"></textarea>
                <div class="text-right mb-3">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success btn-sm">Enviar</button>
                    </div>
                </div>
            </form>

            {% if messages %}
                {% for message in messages %}
                    {% if message.type == 'c' %}
                        <div class="user-message message">
                            <h5 class="mt-0">{{ message.name_user }}</h5>
                    {% else %}
                        <div class="admin-message message">
                            <h5 class="mt-0">{{ message.name_user }} - Madeira madeira</h5>
                    {% endif %}

                        {{ message.message }}
                        <p>
                            <small>{{ message.created }}</small>
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}